.divplaceholder {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.dialogS {
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 90%;
  max-width: 420px; */
  /* padding: 24px; */

  border: none;
  border-radius: 16px;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);

  animation: modalFade 0.25s ease-out;
  z-index: 1000;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(15px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
