body{
    padding: 0;
    margin: 0;
}

.parentdiv {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(#c200fd, #6e00fd);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content{
  width: 90vh;
  height: auto;
  background:  linear-gradient(#b7b7b7, #fff);
  border-radius: 10px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
